.back-video{
    position: fixed;
    top: 0;
    width :100%;
    /* margin-left: -127px; */
    z-index: -100;  
}

.overlay{
    margin:0 20vw;
    margin-top: 15vh;
    padding: 5vh 5vw;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    background-color: white;
    filter: blur(.5px);
    background: inherit;
}
.overlay h1{
    font-family: cursive;
    font-weight: 900;
}
.overlay button{
    width: 260px;
    padding: 1.5vh 2vw;
    margin:10vh 0vw;
    background-color: orange;
    border-radius: 20px;
    font-size: large;
}
.features{
    margin: 5vh 10vw;
    position: relative;
    width: 80%;
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:50px; */
    display: flex;
    height: 100px;
}
.card{
    border:solid white 2px;
    /* padding: 10px; */
    opacity: 90%;
    color:white;
    background: linear-gradient(to bottom, #0f0c29, #302b63,#24243e) ;
    /* display: flex; */
    justify-content: space-between;
    cursor: pointer;
    height: 50vh;
}
.f-logo img{
    width: 80%;
    height: 50%;
    padding: 0 2vw;
    margin: 0 1.5vw;
}
.cardName{
  font-family: cursive;
  text-align: center;
}